<h2>Mis héroes</h2>

<div>
  <label for="new-hero">Nombre del héroe: </label>
  <input id="new-hero" #heroName />
  <label for="new-hero-score" type="number">Puntaje del héroe: </label>
  <input id="new-hero-score" #heroScore />


  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(heroName.value, heroScore.value); heroName.value=''; heroScore.value=''">
    Agregar héroe
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> 
      {{ hero.name }} ({{ hero.score }})
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>